
*.xml

*.xml

Motor3D/Motor3D/main.cpp

Motor3D/Debug/test.xml

Gerador/main.o

*.o

Gerador/esfera.o

Gerador/GERADOR

Gerador/cone.o

Gerador/circulo.o

Gerador/cilindro.o

Motor3D/Debug/Motor3D

Motor3D/Debug/sistema_solar.xml

Motor3D/Debug/test.xml

Motor3D/Debug/sistema_solar2
