/*!CK:2329791291!*//*1399862972,178142509*/

._3yfm{background:#fff;border-top:0}._3yfm._3yfn{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;color:#3b5998;font-weight:bold;padding:7px}._3yfm ._3yfo{cursor:pointer;margin-bottom:1px;position:relative}._3yfm ._3yfp{font-weight:normal;margin-right:2px}

#bootloader_bQW9Q { height: 42px; }
.bootloader_bQW9Q { display:block !important; }