/*!CK:786245881!*//*1398420007,178158927*/

.sp_9xum9h{background-image:url(/rsrc.php/v2/yI/r/OuEypsgwWjT.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_9xum9h.sx_06be29{background-position:0 -35px}.sp_9xum9h.sx_055cae{width:34px;height:34px;background-position:0 0}.sp_9xum9h.sx_3582fd{background-position:-17px -35px}

#bootloader_LckHP { height: 42px; }
.bootloader_LckHP { display:block !important; }