/*!CK:1546086172!*//*1400486811,178158661*/

._6kq ._6k_{border:0;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .5);display:block;height:195px;overflow:hidden;position:relative}._57u0 ._6kq ._6k_{height:164px}._6kq ._6k_:hover{border:0}._6k_ .img{margin:0;position:absolute}
._198j{margin-top:-21px;padding:12px 12px 7px}
._5yn1,._5yn0{margin-top:5px;text-align:left}body[dir="rtl"] ._5yn1,body[dir="rtl"] ._5yn0{direction:rtl}body[dir="ltr"] ._5yn1,body[dir="ltr"] ._5yn0{direction:ltr}

#bootloader_u0Jmn { height: 42px; }
.bootloader_u0Jmn { display:block !important; }